<div class="page-inner">
	<div class="form" *ngIf="isVisibleForm">
		<div class="intro-area">
			<div class="intro">
				Спасибо за ваши отзывы. Они для нас очень важны.
			</div>
		</div>

		<mat-card class="line" *ngFor="let q of questions | orderBy: 'order': false; let i = index">
			<div class="title">{{ q.title }}</div>

			<div class="answer-area">
				<textarea class="textarea" *ngIf="q.answers_type == 3" [(ngModel)]="answer[i]"></textarea>

				<mat-radio-group class="radio-group" [(ngModel)]="answer[i]" *ngIf="q.answers_type == 1">
				  <mat-radio-button class="radio-button" *ngFor="let answer of q.answers" [value]="answer">
				    {{ answer }}
				  </mat-radio-button>
				</mat-radio-group>
			</div>	  
		</mat-card>

		<div class="submit-area">
			<button class="btn btn-common" mat-button (click)="sendAnswers()">Отправить</button>
		</div>		
	</div>

	<div class="thanks" *ngIf="!isVisibleForm">
		<span>Вы уже проголосовали. Спасибо.</span>
	</div>
</div>
