<div class="page-inner">
	<div class="agree-text">
		<h4 class="head">СОГЛАШЕНИЕ ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h4>

		<p>Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.</p>

		<p>Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте https://www.econ.msu.ru (далее – Сайт), путем заполнения полей онлайн-заявки (регистрации) Пользователь выражает Согласие на согласие на обработку персональных данных и их передачу оператору обработки персональных данных – Экономическому факультету Московского государственного университета имени М.В. Ломоносова (Адрес местонахождения: Российская Федерация, 119991, г.Москва, Ленинские горы, дом 1, строение 46) (далее – Оператор), которому принадлежит Сайт, на следующих условиях.</p>

		<p>Пользователь:</p>

		<p>
		подтверждает, что все указанные им данные принадлежат лично ему,

		подтверждает и признает, что им внимательно в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях он-лайн заявки (регистрации), текст Соглашения и условия обработки персональных данных ему понятны;

		выражает Согласие на обработку персональных данных без оговорок и ограничений (далее – Согласие). Моментом принятия Согласия является маркировка соответствующего поля в Форме и нажатие на кнопку отправки Формы на любой странице Сайта;

		подтверждает, что, давая Согласие, он действует свободно, своей волей и в своем интересе;

		Данное Согласие дается на обработку персональных данных как без использования средств автоматизации, так и с их использованием.
		</p>

		<p>Согласие дается на обработку следующих персональных данных Пользователя, указанных Пользователем в формах или в файлах, прикрепленных к формам:</p>

		<ul>
			<li>Фамилия, имя, отчество;
			<li>Должность, организация;
			<li>Телефон;
			<li>Страна;
			<li>Город;
			<li>Сферы интересов, услуг и направлений;
			<li>Адрес электронной почты;
			<li>Иных персональных данных, указанных Пользователем в формах или файлах, прикрепленных к формам.
		</ul>


		<p>Целью обработки персональных данных является их хранение и использование, в том числе:</p>

		<ul>
			<li>Ответы на запросы Пользователей;
			<li>Обеспечение работы Пользователя с Сайтом Оператора;
			<li>Направление Пользователям аналитических материалов и информирование Пользователей о предстоящих мероприятиях, организуемых Оператором, а также регистрация Пользователей для участия в таких мероприятиях;
			<li>Заключение с Пользователем договора.
		</ul>


		<p>Пользователь, принимая условия настоящего Соглашения, выражает свою заинтересованность и дает полное согласие, что обработка его персональных данных включает в себя следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>

		<p><strong>Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.</strong></p>
	</div>

	<div class="agree-footer">
		<mat-checkbox [(ngModel)]="isAgreeOk">Check me!</mat-checkbox>
		<button class="btn btn-common" mat-button (click)="checkAgreeState()">Далее</button>
	</div>
</div>

