.agree-text{
	font-size: 1em;
	
	.head{
		margin-top: 0;
	}

	p{
		margin-top: 0;
	}

	ul{
		padding-left: 20px;
	}
}

.agree-footer{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;	
}