.page-inner{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0;

	.auth-form{
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	  flex-direction: column;	
	  width: 100%;
	  max-width: 300px;

	  .line{
	  	margin-bottom: 20px;
	  	width: 100%;
	  }
	}	
}

