.page-inner{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  padding: 0;
  height: 100%;

  .nav{
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	  flex-direction: column;	  

	  .enter-as{
	  	min-width: 200px;
	  	margin: 0 auto 20px;
	  	display: inline-block;
	  	text-align: center;

	  	.name{
	  		margin-right: 6px;
	  		font-weight: bold;
	  	}
	  }

	  .btn{
	  	min-width: 200px;
	  	margin: 0 auto 20px;
	  	display: inline-block;
	  }
  }

  .sources{
  	position: absolute;
  	bottom: 20px;
  	left: 0;
  	width: 100%;
  	text-align: center;

  	.small{
  		font-size: 70%;
  	}
  }
}

