.page-inner{
	
	.questions-area{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;	

		.question{
			margin-bottom: 20px;
			padding: 10px 10px 0;
			width: calc(50% - 30px);

			/* iphone6Plus */
			@media screen and (max-width: 415px) { width: 100%; }			

			&:last-child{
				margin-bottom: 0px;
			}

			.line{
				padding-bottom: 10px;

				&.date{

					&:before{
						content: 'Дата: ';
						font-weight: bold;
					}
				}

				&.speaker{

					&:before{
						content: 'Кому: ';
						font-weight: bold;
					}
				}

				&.text{

					&:before{
						content: 'Вопрос: ';
						font-weight: bold;
					}
				}			
			}


		}
	}
}