@import "~variables.scss";

.form{
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	
	.speakers{
		padding-bottom: 20px;
	}

	.question-text{
		display: block;
		width: calc(100% - 12px);
		margin-bottom: 20px;
		min-height: 70px;
		border: 2px solid $basic-color;
		padding: 4px;
	}

	.btn{
		
	}	
}

