<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
		<div class="nav">
		  <button class="btn btn-common" [routerLink]="['/feedback']" routerLinkActive="active" mat-button>
		    feedback
		  </button>

		  <button class="btn btn-common" [routerLink]="['/question']" routerLinkActive="active" mat-button>
		    question
		  </button>
		</div>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="sidenav.open()">
      Open sidenav
    </button>
    <router-outlet></router-outlet>
  </div>

  

</mat-sidenav-container>








