@import "~@angular/material/prebuilt-themes/indigo-pink.css";

textarea:focus, input:focus, a:focus{
    outline: none;
}

.bg-primary{
	background: blue;
}

.btn-common{
	background: blue;
	color: #fff !important;
}

body{
	padding: 0;
	margin: 0;
}

p{
	margin-top: 0;
}

.page-inner{
	display: block;
	overflow: hidden;
	padding: 10px;
}


html,
body,
app-root,
md-sidenav-container{
  height: 100%;
  overflow: hidden;
  background: #fff;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}